[server1]
ip = 127.0.0.1
port = 3977
admin_name = admin
admin_pass = password
map = flat2048prodboost.scn
goal = 500000
clean_age = 3
clean_value = 10000
max_companies = 2
broadcast_cv = 3600
debug = true

# [server2]
# ip = 127.0.0.1
# port = 3978
# admin_name = admin
# admin_pass = password
# map = flat2048prodboost.scn
# goal = 500000
# clean_age = 2
# clean_value = 1000
# max_companies = 2
# broadcast_cv = 3600
# debug = false
